<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com)
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Fixed_Wing_UAV">

  <link name="body"> </link>

  <link name="body_viz">
    <origin rpy="0 0 0" xyz= "0 0 0"/>

    <visual>
      <origin
        xyz="0.0 0.0 0.0"
        rpy="0.0 0.0 0.0" />
      <geometry>
        <mesh
          filename="package://uav_launch/meshes/MAV.STL" scale="100.0 100.0 100.0"/>
      </geometry>
      <material
        name="">
        <color
          rgba="0.6588 0.6627 0.6784 1" />
      </material>
    </visual>
  </link>

  <joint name="viz_joint" type="fixed">
    <parent link="body"/>
    <child link="body_viz"/>
    <origin xyz="-128 40.0 85.0" rpy="3.1415 0 -1.57"/>
  </joint>
</robot>
